.loading {
	background: rgba(255, 255, 255, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;

	img {
		display: block;
		width: 300px;
	}

	&.is-visible {
		opacity: 1;
		visibility: visible;
	}

	&.is-page {
		background: #fff;
	}
}
