* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	color: #fff;
	overflow-x: hidden;

	#root {
		display: flex;
		flex: 1;

		> div {
			display: flex;
			flex: 1;
		}
	}

	main {
		background: #0c171e;
		display: flex;
		flex: 1;
		overflow-x: hidden;

		> section {
			width: 80vw;
			max-width: 80vw;
			max-height: 100vh;
			overflow-y: auto;
		}
	}
}

img {
	max-width: 100%;
}

a,
button {
	background: transparent;
	text-decoration: none;
	border: 0;
	outline: 0;
	cursor: pointer;
}
